streamlit
pandas
numpy
matplotlib


langchain
langchain-community
langchain-groq
langchain-google-genai
google-generativeai

python-dotenv
pydantic


faiss-cpu
pypdf

duckduckgo-search
ddgs
wikipedia

sqlalchemy

torch
