streamlit
pandas
numpy
matplotlib
ddgs

langchain
langchain-community
langchain-groq
langchain-huggingface

python-dotenv
pydantic

sentence-transformers
faiss-cpu
pypdf

duckduckgo-search
wikipedia

sqlalchemy

torch
